<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <h2>Available Plots</h2>

    {% for plot in plots %}
    <div
      style="
        border: 1px solid #ccc;
        margin-bottom: 1em;
        padding: 1em;
        border-radius: 8px;
      "
    >
      <h3>{{ plot.title }}</h3>
      <p><strong>Location:</strong> {{ plot.location }}</p>
      <p><strong>Price:</strong> Ksh {{ plot.price }}</p>
      <p><strong>Size:</strong> {{ plot.size_sqft }} sqft</p>
      {% if plot.image %}
      <img
        src="{{ plot.image.url }}"
        alt="Plot Image"
        style="width: 300px; border-radius: 6px"
      />
      {% endif %}
    </div>
    {% empty %}
    <p>No plots available right now. Check back later.</p>
    {% endfor %} {% endblock %}
  </body>
</html>
